<html>
    <head>
        <title>History</title>
    </head>
    <body>
        <center><h1>HISTORY</h1></center>
  
<table>
            <tr>
                <td>
                    <h3>Election Name<h3>
                </td>
                
            </tr>
            {%for i in name%}
            <tr>
                
                    <td>
                        <a href="{{state}}/{{i}}">
                            {{i}}
                        </a>
                       
                    </td>
                
                
                
            </tr>
            {%endfor%}
        </table>
        

    
    </body>
</html>